<div class="card">
	<img class="icon" src="http://www.gravatar.com/avatar/{{ user.emailHash }}?s=200&d=indenticon" alt="">

	<div class="info">
		<div class="indicator">
			<img src="./indicator.svg">
		</div>
		<h1>{{ user.email }}</h1>
	</div>
</div>