/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #888;
}

.contained {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    margin-top: 0;
}

.button {
    display: inline-block;
    cursor: pointer;

    height: 40px;

    margin: 10px;
    padding: 10px 13px 6px 13px;
}

.button.has-icon {
    padding: 0;
}

.button.has-icon div {
    float: left;

    margin: 0;
    padding: 0;
}

.button.has-icon .icon {
    width: 40px;
    height: 100%;
}

.button.has-icon .text {
    padding: 10px 13px 6px 13px;

    font-weight: bold;
}

.indicator-circle {
    fill: #22d90b;
    -webkit-animation: indicate 3s infinite alternate;
    -moz-animation: indicate 3s infinite alternate;
    -ms-animation: indicate 3s infinite alternate;
    -o-animation: indicate 3s infinite alternate;
    animation: indicate 3s infinite alternate;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

.signup {
    margin: 0;
    padding: 0;

    background: #de4c34;
    color: #fff;
}

.signup:active {
    background: #ce3e26;
}

.signup .icon {
    background: #ce3e26;
}

.signup .icon object {
    width: 24px;
    margin: 11px 0 0 8px;
}

.signup .text {
    text-transform: uppercase;
}

.credit {
    margin-top: 5em;
}

.profile .card .icon {
    float: left;
    margin-right: 20px;
}

.profile .card .info {
    padding-top: 155px;
}

.profile .card h1 {
    font-size: 1.4em;
    margin: 0;
}

.profile .explanation {
    clear: both;
    margin: 1em 0;
    font-style: italic;
}

.profile.edit .explanation {
    font-style: normal;
}

.button.copy {
    height: 24px;

    margin: 20px 0 10px;

    background: #c4c4c4;
}

.button.copy.zeroclipboard-is-active {
    background: #6f6f6f;
}

.button.copy .icon {
    width: 24px;

    background: #6f6f6f;
}

.button.copy .icon object {
    width: 20px;
    margin: 2px 0 0 2px;
}

.button.copy .icon .checked {
    display: none;
}

.button.copy.zeroclipboard-is-active .icon .download  {
    display: none;
}

.button.copy.zeroclipboard-is-active .icon .checked  {
    display: block;
}

.button.copy .text {
    padding: 2px 6px 2px 6px;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes indicate {
    0% {fill: #22d90b;}
    50% {fill: #dcce08;}
    100% {fill: #d0000b;}
}

/* Standard syntax */
@keyframes indicate {
    0% {fill: #22d90b;}
    50% {fill: #dcce08;}
    100% {fill: #d0000b;}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}